.slider { max-width: 800px;width: 100%;margin:0 auto;border: 1px solid #f2f2f2;}
.slider,.slider__controls{padding: 10px;}
.slider__images {
  opacity: 0;
  visibility: hidden;
  position: relative;
  top: 0px;
  left: 0px;
  list-style-type: none;
  transition: opacity .10s ease-in, visibility .10s ease-in;

}

.slider__images.loaded {
  opacity: 1;
  visibility: visible;
}

.slider__images-item {
  position: absolute;
  top: 0px;
  width:100%;
  left: 0px;
}

.no-js .slider__images-item:first-of-type { position: relative; }

.no-js .slider__images-item:not(:first-of-type) { display: none !important; }

.slider__images-image { display: block;min-height:400px; max-height: 400px;width: 100%;}

.slider__controls {
  margin-top: 30px;
  user-select: none;
  text-align: center;
}

.slider__control {
  display: inline-block;
  color: #a3a3a3;
  cursor: pointer;
}

.slider__control--prev { margin-right: 10px; }

.slider__control--next { margin-left: 10px; }

.slider__pagers {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider__pagers li {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  color: #a3a3a3;
  padding: 0 10px;
}

.slider__pagers li.active { color: #333; }
