
@font-face {
    font-family: "Lato";
    src: url("../font/Lato-Black.ttf");
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    src: url("../font/Lato-Regular.ttf");
    font-display: swap;
}


*{margin:0;padding:0;font-family: Lato;}
body{background: white;}
#menu{padding: 10px;text-align: center;  position: fixed;  top: 0;   width: 100%;   background: white;  z-index: 1;}
#menu ul{padding:10px;list-style-type: none;}
.fix{clear: both}
ul li{  display: inline;}
ul li a{padding:10px;text-decoration: none;color:#333;}
ul li a:hover{text-decoration: underline;}

#contenedor{margin:0 auto;}
#contenedor{text-align: center;margin-top:60px;}

#contenedor h1{padding: 10px;}
#contenedor h2{padding: 20px;margin: 10px;font-size: 2em;font-weight: bold;text-transform: uppercase;}

.txt{padding: 10px;}
.cimg{height: 600px;width:80%;}
.piscina{background: #47c9e5;color: black;}
.piscina h1{color:white;}

.depa{background: #111;color: white;}

.column {float: left;width: 33.33%;}
.row{padding: 10px;}
.row p{padding: 10px;text-align: center}
.row:after {content: "";  display: table;  clear: both;}
.tt{}
@media screen and (max-width: 600px) {.column {width: 100%;}}
select{
padding: 10px;width: 100%;
border:1px solid #47c9e5;
cursor: pointer;
background: white;
}
#formpiscina{width: 80%;margin: 0 auto;margin-top:40px;}
#redes{float: left;width: 50%;}
.fix{clear: both;}
.formulario p{margin-top: 15px;text-align: left;padding-bottom:10px;padding-top:10px;}
.button{margin-top:30px;margin-bottom:20px;padding:20px;font-size: 1.5em;width: 100%;
border:1px solid black;
cursor: pointer;
background: white;
}
.button:hover{background:black;color:#47c9e5;}
#redes{margin:0 auto; width: 100%;background: #47c9e5;margin-top:40px;}
#redes h3{padding: 10px;margin:20px;}
#redes svg{margin-bottom: 20px;}
#redes .dos{margin-left:40px;}
iframe{margin-top:40px;}
@keyframes gbounce {
  0% { transform: translateY(0); }
  30% { transform: translateY(-50px); }
  50% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

.bounce2 {
  animation: gbounce 1.2s;
  animation-timing-function: ease;

}
